<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./vue.js"></script>
        <style>
            .v-enter,
            .v-leave-to{
                opacity: 0;
                transform: translateX(150px)
            }
        .v-enter-active,
        .v-leave-active{
            transition: all 0.5s ease
        }
        .my-enter,
        .my-leave-to{
            opacity: 0;
            transform: translateY(150px)
        }
        .my-enter-active,
        .my-leave-active{
            transition: all 0.5S ease
        }
        
        
        </style>
    </head>
    <body>
        <div id="app">
              <input type="button" value="toggle" @click="flag=!flag">


           <transition>
            <h1 v-if="flag">{{msg}}</h1>
           </transition>

           <input type="button" value="toggle2" @click="flag2=!flag2">
           <transition name="my">
            <h2 v-if="flag2">这是一个h2标签</h2>
           </transition>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                   msg:"这是h1标签",
                   flag:false ,
                   flag2:false   
                }
            })
        </script>
    </body>
</html>